

#note {
    background-color:#f6f8f9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;

    & #form-todo {
        margin-top: 25px;
        transition: 0.5s;
        margin-left: 25px;
        margin-right: 25px;
        flex:1;
        margin-bottom: 50px;

        & .title {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            & i {
                font-size: 30px;
                color: black;
                margin: 0 5px;
            }

            & p {
                font-size: 20px;
                font-weight: 600;
                margin-top: 10px;
            }

        }

        & .btn-jwc {
            border-radius: 5px;
            margin-top: 10px;
            border: 2px solid #E5E8E8;
            color: black;
            background: 0;
            padding: 5px 5px;
            font-size: 14px;
            background-color: #999;
        }


        & .add-note-area {
            background-color: white;
            border: 2px solid black;
            height: 60px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            border-radius: 5px;
            position: relative;

            & .info{
                margin-left: 20px;
                width:75%;
                display: flex;
                flex-direction: column;
                position: relative;

                & .text-area {
                    font-size: 14px;
                    height: 32px;
                    color: black;
                }
    
                & .text-area:focus {
                    outline: 0;
                }

            }

            & .btn-add {
                margin: 0 3px;
                border: 2px solid #E5E8E8;
                color: black;
                background: 0;
                padding: 5px 5px;
                font-size: 14px;
                position: absolute;
                right: 10px;
                background-color: #999;
            }

            }
        }

        & .area {
            margin-top: 15px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            transition: 0.5s;
            position: relative;

            & .title {
                font-size: 14px;
            }

            & .arrow {
                font-size: 25px;
            }

            & .number-important {
                margin-left: 15px;
                font-size: 14px;
            }

            & .note {
                background-color: white;
                border: 2px solid black;
                height: 60px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 12px;
                border-radius: 5px;
                position: relative;

                & .info{
                    width:85%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
    
                    & .note-title {
                        border: 0;
                        font-size: 14px;
                        text-align: start;
                        color: black;
                        overflow: hidden;
                        // text-overflow: ellipsis;
                        max-width: 100%;
                    }

                    & .note-title:focus {
                        outline: none;
                      }

                }

                .star {
                    font-size: 25px;
                    color: #aaaaaa;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-60%);
                    
                }   

                .check {
                    height: 22px;
                    width: 22px;
                    margin-left: 8px;
                    margin-right: 15px;
                }

            }
        }

    & .form-detail-note {
        background-color: white;
        right: -2000px;
        position: absolute;
        transition: 0.5s;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;

        & .btns-area {
            justify-content: center;
            align-items: center;
            display: flex;
            height:8vh;

            & button {
                margin: 0 10px;
                font-size: 14px;
            }
        }

        & .detail {
            margin-top: 10px;
            height: 55vh;
            width:80%;
            border-radius: 5px;
            border: 1px solid #c7c4c4;
            line-height: 15px;
            font-size: 14px;
            padding: 10px;
        }
        & .detail:focus {
            outline: 1px;
        }

        & .note-title-detail {
            margin-top: 10px;
            height:8vh;
            width:80%;
            border-radius: 5px;
            border: 1px solid #c7c4c4;
            line-height: 15px;
            font-size: 14px;
            padding: 10px;
        }
        & .note-title-detail:focus {
            outline: 1px;
        }

        & .ddl-area {
            justify-content: center;
            align-items: center;
            display: flex;
            height:10vh;

            .clock {
                font-size: 30px;
                color: red;
                margin: 10px 5px 0 0;
            }
    
            & .ddl {
                margin-top: 10px;
                width: 80%;
                border-radius: 5px;
                border: 1px solid #c7c4c4;
                line-height: 15px;
                font-size: 14px;
                padding: 10px;
            }
        }
    }
}
